body{
    margin: 0;
    padding: 0;
}
p{
    font-family: 'Roboto', sans-serif;  
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Poppins', sans-serif;
}

.section-header{
    font-weight: bold;
    font-size: 20px;
}
.instructions{
    font-size: 15px;
    padding: 15px 0;
    background-color: #506f28;
    color: white;
}

.logo{
    height: auto;
    width: 15%;
}
.navbar-icons{
    display: flex;
}
.navbar-icons > li{
    list-style: none;
    margin-left: 15px;
}
.section{
    margin-top: 50px;
    margin-bottom: 50px;
}
.products-grid{
    justify-content: space-evenly;
}
.products-grid div{
    height: 250px;
    width: 250px;
    padding: 0;
    margin: 0;
}
.products-grid div{
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay{
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    place-items: center;
}
.overlay h1{
    color: white;
    font-size: 35px;
    font-weight: bold;
}
.overlay:hover{
    background: rgba(0, 0, 0, 0.5);
}
.products-grid .img1{
    background-image: url('./images/gardening.jpg');
}
.products-grid .img2{
    background-image: url('./images/Natural\ Gardening.jpg');
}
.products-grid .img3{
    background-image: url('./images/Eco-friendly\ Products.jpg');
}
.products-grid .img4{
    background-image: url('./images/Plants.jpg');
}
.banner-section{
    background-image: url('./images/Seer\ soap.jpg');
    color: white;
    background-size: cover;
    background-position-y: top;
    height: 75vh;
}
.banner-content{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}